#view_Header {
  box-sizing: border-box;
  background: #24292e;
  color: white;
  display: block;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 3;
  padding: 5px 0 0;
  top: -100px;
  transition: 0.5s ease;
  &.active {
    top: 0;
  }
  @media screen and (max-width: 420px) {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    position: fixed;
    width: 100%;
    max-width: 100vw;
    left: 0;
    margin: auto;
  }
  nav {
    a {
      padding: 0 10px;
    }
  }
  .logo-blanco {
    width: 130px;
  }
}
