.container {
    bottom: 200px;
    color: white;
    left: 40px;
    position: fixed;
    width: 500px;
    z-index: 1;
    transition: 1s ease-in-out;
    &:before {
        background: #00000066;
        border-radius: 20px;
        bottom: -5px;
        content: "";
        height: 100%;
        position: absolute;
        right: -5px;
        width: 100%;
        z-index: -1;
    }
    &.hide {
        left: -510px;
    }
    .pacoMin {
        cursor: pointer;
        background: #f89b52;
        border-radius: 50%;
        position: absolute;
        right: -101px;
        top: 0;
        width: 80px;
        opacity: 1;
        transition-delay: 2s;
        transition: 1s;
        &.hide {
            opacity: 0;
        }
        img {
            position: relative;
            top: -2px;
            right: -4px;
        }
    }
    .box {
        .title {
            background: #f0ba87;
            padding: 5px 0 5px 120px;
            border-radius: 20px 20px 0 0;
            .hide {
                float: right;
                margin-right: 16px;
                cursor: pointer;
            }
        }
        .text {
            background: linear-gradient(270deg, rgba(122, 11, 161, 1) 0%, rgba(48, 149, 179, 1) 100%);
            border-radius: 0 0 20px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 10px 20px 100px;
            transition: 1s ease-in-out;
            .list {
                display: flex;
                flex-direction: column;
                .user {
                    text-align: right;
                }
            }
            a {
                color: white;
                text-decoration: underline;
            }
            .buttons {
                // display: flex;
                justify-content: end;
                margin: 20px 10px 0 10px;
            }
            input {
                background: transparent;
                border: none;
                color: white;
                border-bottom: #ffffff52 solid 1px;
                width: 350px;
                padding: 5px 0;
                margin: 20px 0 20px 0;
                &::placeholder {
                    color: white;
                }
            }
        }
        .character {
            position: absolute;
            left: -40px;
            top: -60px;
            width: 120px;
            height: 120px;
            .head {
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                top: -34px;
                left: 20px;
                height: 80px;
                width: 80px;
                z-index: 1;
                &.neutral {
                    background-image: url("/images/ia/1.png");
                }
                &.happy {
                    background-image: url("/images/ia/1.png");
                }
                &.loved {
                    background-image: url("/images/ia/5.png");
                }
            }
            .circle {
                background: #3e61ac;
                border: 10px solid #f0ba87;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                width: 100px;
                height: 100px;
                .body {
                    position: relative;
                    margin-top: 20px;
                    max-height: initial;
                    max-width: initial;
                    height: 140px;
                    width: 140px;
                }
                .rightArm {
                    position: absolute;
                }
            }
        }
    }
}
