section.Transactions {
  margin: 20px auto;
  width: 1200px;

  .customer_box {
    background: #f4f4f4;
    border-radius: 2px;
    font-size: 12px;
    padding: 6px 10px;
    text-align: center;
    width: 100px;
  }
}
