#ArticleLayout {
  display: flex;
  flex-direction: row;
  gap: 0 40px;
  div {
    h3 {
      margin-left: 8px;
    }
  }
}

#ArticlePage {
  color: #585858;
  margin: 20px auto;
  overflow: hidden;
  width: 1024px;
  @media screen and (max-width: 420px) {
    width: auto;
  }
  h1 {
    border-bottom: 2px solid #c93530;
    border-radius: 0 10px 0 10px;
    margin: 0 auto 20px;
    top: 0px;
    text-align: center;
    z-index: 2;
    small {
      display: block;
      font-size: 12px;
      font-weight: 100;
      margin-top: 5px;
    }
  }
}
