.author {
    align-items: center;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 1px 1px #e7e7e7;
    display: flex;
    height: 25px;
    left: 0;
    margin: 10px auto;
    max-width: max-content;
    overflow: hidden;
    padding: 0 5px 0 0px;
    position: relative;
    right: 0;
    transition: 0.3s ease;
    z-index: 1;
    @media screen and (max-width: 420px) {
        margin: 10px auto;
    }
    > p > * {
        font-size: 12px;
    }
    img {
        border-radius: 5px 0 0 5px;
        display: none;
        left: -10px;
        position: relative;
        width: initial;
    }
    span {
        border-radius: 50%;
        background-size: 40px;
        // margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center;
    }
    p {
        font-size: 12px;
        padding-left: 10px;
        margin: 0;
        opacity: 1;
        position: relative;

        align-items: center;
        display: flex;
        grid-gap: 5px;
        margin: none;
        padding: 0;
    }
    h3 {
        font-weight: 100;
        margin: 0;
    }
    .content-icon-store {
        background: #bad5f0;
        color: white;
        height: 26px;
        line-height: 30px;
        margin-right: 5px;
        padding: 0px 7px;
        top: 0px;
    }
    .stars {
        align-items: center;
        display: flex;
        font-size: 10px;
        span {
            height: initial;
            margin: 0;
        }
    }

    svg {
        &.star {
            color: #f7b000;
        }
    }
    &.CardDetalleProducto {
        height: 32px;
        margin: 0 10px;
        .content-icon-store {
            display: none;
        }
        img {
            display: block;
        }
    }
    &.HeaderSearch {
        margin: 10px 0;
    }
}
