h3.title_destacada {
    display: none;
}

.Card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #3a3a3a4d;
    box-sizing: border-box;
    color: #585858;
    cursor: pointer;
    max-height: 420px;
    margin: 0px 20px 40px;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    width: 320px;
    @media screen and (max-width: 420px) {
        margin: 0px 20px 20px;
        padding-bottom: 40px;
    }
    &.small {
        height: 360px;
        @media screen and (min-width: 1024px) {
            width: 320px;
        }
    }
    :global(.author) {
        margin: auto;
        position: absolute;
        height: 0;
        opacity: 0;
        top: 18px;
    }
    &:hover {
        :global(.author) {
            height: 30px;
            opacity: 1;
        }
    }
    .tachado {
        font-size: 14px;
    }
    .likes-precio {
        display: flex;
        justify-content: space-evenly;
        .likes {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                color: #ea4d42;
            }
            span {
                margin-left: 5px;
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        box-shadow: -2px 0px 5px 0px #575757b5;
        background-color: #ffffffcc;
        border-radius: 50%;
        background-size: 10px;
        padding: 0 8px;
    }
    .descripcion_imagen {
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
        @media screen and (max-width: 420px) {
            display: flex;
        }
        .content_imagen {
            margin: 0 10px;
            position: relative;
            text-align: center;
            @media screen and (max-width: 420px) {
                margin-bottom: 10px;
                width: auto;
            }
            img {
                max-height: 220px;
                border-radius: 5px;
                @media screen and (max-width: 420px) {
                    margin: initial;
                }
                &.image-back {
                    display: none;
                }
            }
        }
        .tags {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
            @media screen and (max-width: 420px) {
                bottom: 10px;
                margin-bottom: 10px;
            }
            span {
                background: #f1f1f1;
                border-radius: 10px;
                box-shadow: 2px 2px 5px 0 #1717172e;
                color: #585858;
                font-size: 10px;
                margin: 0 10px;
                padding: 5px 10px;
                width: min-content;
            }
        }
        .content_precio {
            font-size: 16px;
            > * {
                display: block;
            }
            &.tachado {
                font-size: 14px;
            }
            .descuento {
                font-weight: bold;
                color: #39b54a;
            }
            .nuevoPrecio {
                color: #ea4d42;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }
        .descripcion {
            margin: 10px 0px 0;
            white-space: pre-line;
            font-size: 14px;
            text-align: center;
            .user_picture {
                float: left;
                width: 50px;
                margin-left: 20px;
            }
            h2 {
                font-size: 18px;
                max-height: 44px;
                overflow: hidden;
                text-transform: capitalize;
                @media screen and (max-width: 420px) {
                    margin: 20px 20px 0 10px;
                }
            }
        }
    }
    .fecha_sistema {
        margin-left: 10px;
    }
    .quantity {
    }
    .date {
        margin: 10px 0 20px 10px;
        span {
            margin-left: 10px;
        }
    }
    .actions {
        // float: left;
        margin: 10px 0 0 10px;
        color: dimgrey;
        display: flex;
        align-items: center;
        .content_like {
            position: relative;
            display: inline-block;
            cursor: pointer;
            &.active {
                * {
                    color: rgb(237, 73, 86);
                    animation: effect_dylan 1s ease-in-out;
                }
            }
            .num {
                position: absolute;
                font-size: 8px;
                left: 5px;
                top: 8px;
                color: white;
                width: 18px;
                text-align: center;
            }
            .like {
                padding: 10px;
                right: 20px;
                font-size: 20px;
                vertical-align: middle;
                &.active {
                    // outline: 0;
                    // color: #fff;
                    // &:before {
                    //   animation: effect_dylan 0.8s ease-out;
                    // }
                }
            }
        }
        .respuestas {
            color: initial;
            margin-left: 10px;
            font-size: 12px;
        }
    }
    .cant_users {
        float: right;
        margin: 0 20px 0 0;
    }
    .caja_usuarios {
        img {
            border-radius: 50%;
            float: left;
            width: 50px;
            height: 50px;
            &:not(:first-child) {
                margin-left: -20px;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        &.destacada_Card {
            background: #ea4d42;
            padding: 10px 0 0 0;
            margin: 0px 0 20px 0;
            border-radius: 5px;
            h3.title_destacada {
                margin: 0 0 10px 20px;
                color: white;
                display: block;
                font-size: 16px;
                font-weight: normal;
            }
            .Card {
                margin-bottom: 20px;
                box-shadow: none;
                padding: 10px 10px 20px;
            }
        }
    }

    .apply_cashback {
        background: radial-gradient(circle, #fee960 0%, #feb724 100%) !important;
        padding-left: 20px !important;
        position: relative;
        .coin {
            background-image: url("/images/gifs/sprite-monedas-pequenas.png");
            background-position-x: 0px;
            background-position-y: 0px;
            background-size: 210px;
            display: inline-block;
            height: 31px;
            margin: 0;
            transform: scale(0.8);
            transition: 0.5s linear;
            width: 31px;
            position: absolute;
            top: -4px;
            left: -15px;
        }
    }
    &:hover {
        .apply_cashback .coin {
            animation: rotate 0.5s steps(6) infinite, appear 1s steps(1);
        }
    }
}

@keyframes rotate {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -179px;
    }
}
