h3.title_destacada {
    display: none;
}

.Card {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 #ababab52;
    box-sizing: border-box;
    color: #585858;
    cursor: pointer;
    max-height: 420px;
    margin: 0px 20px 40px;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    width: 320px;
    &.small {
        height: 360px;
        @media screen and (min-width: 1024px) {
            width: 320px;
        }
    }
    .author {
        align-items: flex-start;
        background: #24292ee3;
        border-radius: 5px;
        border: 1px solid #003367;
        display: flex;
        height: 0;
        left: 0;
        margin: -30px auto;
        opacity: 0;
        padding: 5px 5px 10px 10px;
        position: absolute;
        right: 0;
        transition: .3s ease;
        max-width: 80%;
        width: max-content;
        z-index: 1;
        span {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background-size: 40px;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center;
        }
        p {
            color: white;
            font-size: 12px;
            padding-left: 10px;
            margin: 0;
            opacity: 1;
        }
        h3 {
            color: white;
            font-size: 10px;
            font-weight: 100;
            margin: 0;
            svg {
                top: 2px;
                position: relative;
                margin: 0 5px 0 0;
                color: #04a4c4;
            }
        }
        .stars {
            font-size: 10px;
            svg {
                position: relative;
                top: 2px;
                color: #fd9700;
            }
        }
    }
    &:hover {
        .author {
            opacity: 1;
            height: 30px;
        }
    }
    .tachado {
        font-size: 14px;
    }
    .likes-precio {
        display: flex;
        justify-content: space-evenly;
        .likes {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                color: #ea4d42;
            }
            span {
                margin-left: 5px;
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        box-shadow: -2px 0px 5px 0px #575757b5;
        background-color: #ffffffcc;
        border-radius: 50%;
        background-size: 10px;
        padding: 0 8px;
    }
    /*&:hover {
      .image-front {
        display: none;
      }
      .image-back {
        display: block !important;
      }
    }*/
    .descripcion_imagen {
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
        .content_imagen {
            text-align: center;
            margin: 0 10px;
            position: relative;
            @media screen and (max-width: 420px) {
                width: auto;
                height: 220px;
                margin-bottom: 10px;
            }
            img {
                max-height: 220px;
                border-radius: 5px;
                @media screen and (max-width: 420px) {
                    margin: initial;
                }
                &.image-back {
                    display: none;
                }
            }
            .tags {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -5px;
                span {
                    background: #f1f1f1;
                    border-radius: 10px;
                    box-shadow: 2px 2px 5px 0 #17171752;
                    color: #585858;
                    font-size: 10px;
                    margin: 0 10px;
                    padding: 5px 10px;
                    width: min-content;
                }
            }
        }
        .content_precio {
            font-size: 16px;
            >* {
                display: block;
            }
            &.tachado {
                font-size: 14px;
            }
            .descuento {
                font-weight: bold;
                color: #39b54a;
            }
            .nuevoPrecio {
                color: #ea4d42;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }
        .descripcion {
            margin: 10px 0px 0;
            white-space: pre-line;
            font-size: 14px;
            text-align: center;
            .user_picture {
                float: left;
                width: 50px;
                margin-left: 20px;
            }
            h2 {
                font-size: 18px;
                max-height: 44px;
                overflow: hidden;
                @media screen and (max-width: 420px) {
                    margin: 20px 20px 0 10px;
                }
            }
        }
    }
    .fecha_sistema {
        margin-left: 10px;
    }
    .quantity {}
    .date {
        margin: 10px 0 20px 10px;
        span {
            margin-left: 10px;
        }
    }
    .actions {
        // float: left;
        margin: 10px 0 0 10px;
        color: dimgrey;
        display: flex;
        align-items: center;
        .content_like {
            position: relative;
            display: inline-block;
            cursor: pointer;
            &.active {
                * {
                    color: rgb(237, 73, 86);
                    animation: effect_dylan 1s ease-in-out;
                }
            }
            .num {
                position: absolute;
                font-size: 8px;
                left: 5px;
                top: 8px;
                color: white;
                width: 18px;
                text-align: center;
            }
            .like {
                padding: 10px;
                right: 20px;
                font-size: 20px;
                vertical-align: middle;
                &.active {
                    // outline: 0;
                    // color: #fff;
                    // &:before {
                    //   animation: effect_dylan 0.8s ease-out;
                    // }
                }
            }
        }
        .respuestas {
            color: initial;
            margin-left: 10px;
            font-size: 12px;
        }
    }
    .cant_users {
        float: right;
        margin: 0 20px 0 0;
    }
    .caja_usuarios {
        img {
            border-radius: 50%;
            float: left;
            width: 50px;
            height: 50px;
            &:not(:first-child) {
                margin-left: -20px;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        &.destacada_Card {
            background: #ea4d42;
            padding: 10px 0 0 0;
            margin: 0px 0 20px 0;
            border-radius: 5px;
            h3.title_destacada {
                margin: 0 0 10px 20px;
                color: white;
                display: block;
                font-size: 16px;
                font-weight: normal;
            }
            .Card {
                margin-bottom: 20px;
                box-shadow: none;
                padding: 10px 10px 20px;
            }
        }
    }
}