.steps_and_actions {
  display: flex;
  justify-content: space-between;

  .steps {
    cursor: pointer;
    display: flex;
    font-size: 14px;
    outline: none;
    width: 540px;
    @media screen and (max-width: 420px) {
      margin-left: 10px;
      padding-bottom: 6px;
      overflow-x: scroll;
      width: auto;
      &::-webkit-scrollbar-track {
        background: #f4f4f4; /* color of the tracking area */
        border: none;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 20px; /* roundness of the scroll thumb */
        border: 3px solid #f4f4f4; /* creates padding around scroll thumb */
      }
    }
    :global(.Card) {
      border-radius: 5px;
    }
    > * {
      align-items: center;
      color: white;
      display: flex;
      margin: 0 10px;
      &.active {
        // font-weight: bold;
      }
      &:nth-of-type(1) {
        background-color: #73a0ed;
      }
      &:nth-of-type(2) {
        background-color: #f0b986;
      }
      &:nth-of-type(3) {
        background-color: #aaa6c5;
      }
      &:nth-of-type(4) {
        background-color: #bccea3;
      }
    }
  }

  .actions {
    margin-top: 5px;
    text-align: right;
    button {
      @media screen and (max-width: 420px) {
        position: fixed;
        bottom: 0px;
        height: 50px;
        top: initial;
        z-index: 10;
        width: 100%;
        border-radius: 0;
        margin-left: -10px !important;
        z-index: 2;
      }
    }
  }
}

.tipoPublicacion {
  li {
    text-transform: capitalize;
  }
}

.fields {
  @media screen and (max-width: 420px) {
  }
  > div:not(.actions) {
    margin-bottom: 10px;
  }
}

.fechaSalida {
  width: 200px;
  margin: 10px 0;
}

.images_list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .fileWrapper {
    align-items: center;
    border: #04a4c4 1px dashed;
    color: #04a4c4;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    margin: 10px 5px;
    padding: 10px;
    position: relative;
    width: 100px;
    @media screen and (max-width: 420px) {
      width: auto;
    }
    &.disabled {
      border: grey 1px dashed;
      color: grey;
    }
    input {
      display: none;
      padding: 5px;
    }
    p {
      margin: 5px 5px 0 0;
    }
    .remove {
      background: white;
      border-radius: 50%;
      box-shadow: 0px 0px 2px #5f5f5fa6;
      color: #ff4c3f;
      cursor: pointer;
      padding: 5px 6px;
      position: absolute;
      right: -14px;
      top: -15px;
    }
  }
}

.content {
  margin: 20px auto;
  width: 1200px;
  @media screen and (max-width: 420px) {
    margin-bottom: 120px;
    width: auto;
  }
}

.formAndPreviewPublicacion {
  margin: 10px auto;
  @media screen and (min-width: 768px) {
    > * {
      width: 100%;
    }
  }
}

.preview_card {
  margin: 20px auto 0px;
  width: max-content;
}

.alert {
  border: rgb(30 70 32 / 20%) 1px solid;
}
