.CompetitionsComponent {
    .competitionsList {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 600px;
        @media screen and (max-width: 420px) {
            flex-direction: column;
            width: initial;
        }
    }

    .Detail {
        article {
            background: linear-gradient(90deg, #6098fb 0%, #76a2ea 100%);
            color: white;
            font-size: 14px;
            position: relative;
            width: 200px;
            h2 {
                color: inherit;
                line-height: 22px;
            }
            img {
                bottom: -50px;
                position: absolute;
            }
            &:nth-of-type(2) {
                background: linear-gradient(90deg, #fab674 0%, #efba89 100%);
            }
        }
        .contentOptions {
            align-items: center;
            justify-content: center;
            .option {
                border: dashed 2px #3095b3;
                margin: 5px;
                cursor: pointer;
                background: #2eb4a769;
                height: 40px;
                width: 40px;

                display: flex;
                justify-content: center;
                align-items: center;
                &.blocked {
                    background: #ff794e;
                    border: 2px #ff794e solid;
                    color: white;
                    display: block;
                    font-size: 12px;
                    height: 60px;
                    text-align: center;
                    width: 60px;
                }
            }
        }
    }
}
