.Perfil {
  margin: 20px auto;
  // width: 1200px;
  @media screen and (max-width: 420px) {
    width: auto;
  }
  h2 {
    opacity: 0;
  }
  .content {
    display: flex;
    margin: 20px auto 0;
    // width: 1080px;
    @media screen and (max-width: 420px) {
      margin: 0px auto 0;
      flex-direction: column;
      width: auto;
    }
    .imageAndLevel {
      width: 200px;
      @media screen and (max-width: 420px) {
        margin: 20px auto 20px;
      }
      label#category {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin: 20px auto 30px;
        position: relative;
        text-align: center;
        width: 110px;
        text-transform: uppercase;
        &::before {
          content: "";
          height: 1px;
          width: 10px;
          background: #152c4469;
          position: absolute;
          top: 8px;
          left: 0;
        }
        &::after {
          content: "";
          height: 1px;
          width: 10px;
          background: #152c4469;
          position: absolute;
          top: 8px;
          right: 0;
        }
      }
      .coins {
        margin-top: 30px;
      }
    }
    .coin {
      height: 15px;
      width: 15px;
    }

    :global([role="tabpanel"]) {
      padding-left: 120px;
      @media screen and (max-width: 420px) {
        padding-left: initial;
      }
    }
  }
  h3 {
    margin: 18px 0 0;
  }
  #notificaciones {
    padding: 0;
    h3 {
      margin-bottom: 10px;
    }
  }
  :global(.UserNotifications) {
    border-radius: initial;
    box-shadow: none;
    height: calc(100% - 80px);
    left: 0;
    margin: 0;
    overflow: initial;
    padding: 0;
    position: relative;
    top: initial;
    ol {
    }
  }
  .profile-content {
    // width: 900px;
    @media screen and (max-width: 420px) {
      width: 100%;
    }
  }

  .interests {
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    row-gap: 10px;
  }

  :global(.f-r) {
    display: flex;
  }

  .ProfileSummaryExperience__UserNotifications__Content {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    @media screen and (max-width: 420px) {
      flex-direction: column;
    }

    :global(.Card) {
      margin: 10px 0px 0px;
      padding: 0px;
    }
  }

  .actions {
    float: right;
  }

  .IAContentLeft {
    font-size: 14px;
    margin: 100px 20px 0 0;
    position: absolute;
    width: 120px;
    @media screen and (max-width: 420px) {
      display: none;
    }
    :global(.Card) {
      &:before {
        // Flechita del dialogo
        border-bottom: 12px solid #3095b3;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        top: -12px;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
  }
}
