@import "../../styles/variables.scss";

.PreviewUser {
  position: relative;
  margin-left: 20px;
  width: 70px;
  z-index: 4;
  @media screen and (max-width: $tablet) {
    border-radius: 10px 10px 0 0;
    margin-left: initial;
    width: 80%;
    &.actived {
      .bg_black {
        display: block;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    &:hover,
    &.actived {
      .bg_black {
        display: block;
      }
    }
  }

  .coins {
    position: absolute;
    right: -40px;
    top: -2px;
    z-index: 4;
    @media screen and (max-width: 420px) {
      display: none;
    }

    .experience {
      color: rgb(25 89 107);
      font-size: 14px;
      font-weight: bold;
      margin-top: 4px;
      position: relative;
      top: 0;
      display: block;
    }
  }

  .bg_black {
    background: radial-gradient(circle, rgb(82 89 95) 0%, rgba(36, 41, 46, 1) 100%);
    border-radius: 10px;
    box-shadow: 0px 2px 2px #5252522e;
    color: white;
    display: none;
    font-size: 14px;
    position: absolute;
    padding-top: 10px;
    right: 40px;
    top: 40px;
    transition: 0.8s ease;
    width: 240px;
    z-index: -1;

    @media screen and (max-width: 420px) {
      border-radius: 10px 10px 0 0;
      bottom: 60px;
      height: max-content;
      left: 0;
      margin: 0 auto;
      position: fixed;
      right: 0;
      top: initial;
      width: 80%;
    }

    &.activated {
      display: block;
    }

    :global(.UserNotifications) {
      right: 0px;
      position: absolute;
    }

    > ol {
      border-bottom: 1px solid #424950;
      font-weight: bold;
      margin: 10px 0;
      padding: 0 20px 10px;
      text-align: left;

      &:nth-of-type(1) {
        // margin-top: 20px;
      }

      a {
        color: white !important;
        justify-content: center;
      }

      .flex {
        align-items: center;
        display: flex;
        height: 20px;
        justify-content: space-around;
        margin: 0 auto;
        width: 80px;
      }

      .text {
        font-size: 12px;
        margin-top: 10px;
      }
      :global(.number-coins) span {
        display: none;
      }
    }
  }
}

@keyframes like {
  100% {
    background-position-x: -8px;
  }
  0% {
    background-position-x: 292px;
  }
}
