.flex {
    display: flex;
    .icon_colombia {
        width: 40px;
        margin: 15px 10px 0 0;
    }
    span {
        margin: 25px 10px 0 0;
        font-weight: 100;
    }
}
.terminos_condiciones {
    background: #ededed;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    margin-top: 20px;
    padding: 10px 15px;
}
