#Header {
    background: white;
    padding: 20px 0 10px;
    border-bottom: 1px solid #dcdcdcb5;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    @media screen and (max-width: 420px) {
        padding: 10px 0 5px;
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;
    }
    .slogan {
        span {
            display: block;
            font-size: 12px;
            @media screen and (max-width: 420px) {
                font-size: 10px;
            }
        }
    }

    > ul {
        margin: 0;
        @media screen and (max-width: 420px) {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            text-align: center;
        }
        @media screen and (min-width: 1024px) {
            align-items: center;
            display: flex;
            justify-content: space-evenly;
        }
        h2 {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }
    }

    .logo {
        cursor: pointer;
        max-width: 100%;
        @media screen and (min-width: 1024px) {
            &.desktop {
                display: block;
            }
        }
        @media screen and (max-width: 420px) {
            width: 160px;
            &.mobile {
                display: block;
            }
        }
        &.juancho {
            height: 60px;
            width: auto;
            @media screen and (min-width: 1024px) {
                display: block;
            }
        }
    }

    .icon {
        width: 20px;
    }

    .icon-search-mobile {
        position: absolute;
        right: 30px;
        top: 30px;
        display: none;
        @media screen and (max-width: 420px) {
            display: block;
        }
        svg {
            transform: scale(1.5);
            color: #bec4ca;
        }
    }

    .content_buscador {
        align-items: center;
        display: flex;
        position: relative;
        width: 500px;
        @media screen and (max-width: 420px) {
            height: 60px;
            margin: 0;
            position: initial;
            width: 200px;
        }
        .results {
            background: white;
            display: flex;
            height: calc(100vh - 122px);
            left: -300px;
            position: absolute;
            top: 71px;
            width: 700px;
            z-index: 3;

            &::before {
                background: #2e2e2e75;
                content: "";
                height: 100vh;
                left: 0;
                position: fixed;
                width: 100vw;
                z-index: 0;
            }

            @media screen and (max-width: 420px) {
                height: 100vh;
                top: 82px;
                width: 100%;
            }

            section {
                height: 100%;
                margin-top: 0;
                overflow: scroll;
                overflow-x: hidden;
                padding: 10px;
                z-index: 1;
            }

            section:nth-of-type(1) {
                background: white;
                small {
                    display: inline-block;
                    margin: 10px;
                    text-align: left;
                    width: 100%;
                }
            }

            section:nth-of-type(2) {
                background-color: #f4f4f4;
                h3 {
                    text-align: left;
                }

                img {
                    margin-left: 10px;
                }
            }

            .recommended {
                background: #f4f4f4;
                padding: 10px 20px;

                h3 {
                    font-size: 12px;
                }
            }

            .row {
                display: flex;
                margin-bottom: 10px;
                &:hover {
                    cursor: pointer;
                }
                img {
                    width: 100px;
                }
                > div:last-child {
                    margin-left: 20px;
                    text-align: left;
                }
                .price {
                    font-size: 12px;
                }
                a {
                    display: block;
                    margin: 5px 0 5px 0px;
                }
            }
        }
        .input-buscador {
            fieldset {
                border: 1px solid #a9a9a9;
                /*box-shadow: hsl(0, 0%, 80%) 0 5px 16px;*/
            }
        }
        .buscador {
            background: white;
            @media screen and (min-width: 1024px) {
                width: 600px;
            }
        }
    }

    .box_icon {
        float: right;
        top: 19px;
        position: absolute;
        right: 3px;
        height: 50px;
        line-height: 56px;
        border-radius: 4px;
        background: #ea4d42;
        padding: 0 10px;
        &:hover {
            cursor: pointer;
        }
    }

    .Textfield {
        width: 500px;
    }

    .grid-container {
        position: relative;
        width: 320px;
        .discount {
            position: absolute;
            right: -10px;
            top: 10px;
            width: 60px;
        }
        summary {
            background: linear-gradient(#80a4ca80 0%, #476e9685 100%);
            bottom: 4px;
            color: white;
            height: 90px;
            position: absolute;
            text-transform: capitalize;
            width: 100%;
            span {
                font-size: 12px;
                margin: 0 10px;
            }
            h2 {
                color: white;
                font-size: 18px;
                margin: 0 10px;
            }
            p {
                font-size: 12px;
                margin: 0 10px;
                text-transform: lowercase;
            }
        }
    }
}
