.ChallengeSection {
  border-radius: 10px;
  box-sizing: border-box;
  display: grid;
  font-size: 12px;
  margin: 20px auto;
  max-width: 500px;
  row-gap: 10px;
  row-gap: 15px;

  .challengeHeader {
    box-shadow: 2px 2px 5px 0 #ababab52;
    border-radius: 10px;
    padding: 14px 20px;
    background: linear-gradient(90deg, #c9d6ff, #e2e2e2);
    p {
      line-height: 1.6;
    }
  }

  .challenge {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    box-shadow: 2px 2px 5px 0 #ababab52;
    border-radius: 10px;
    gap: 12px;
    background: white;
    min-height: 150px;
    cursor: pointer;
    padding-right: 8px;

    .challengeCompleteIcon {
      background: white;
      border-radius: 50%;
      box-shadow: 2px 2px 5px #05050552;
      color: #9acd32;
      left: -10px;
      padding: 6px;
      position: absolute;
      top: -5px;
    }

    .image {
      border-radius: 0 40px 0 0;
      color: white;
      height: 100%;
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
      }
    }

    .challengeDetails {
      box-sizing: border-box;
      grid-column: 2/4;
      width: 100%;
      display: grid;
      row-gap: 8px;
      padding: 12px 0;
      .challengeTitle {
        // font-size: 1rem;
        margin: 0;
      }

      .progressContainer {
        background-color: #a8a8a8;
        border-radius: 32px;
        position: relative;
        text-align: center;
        width: 100%;

        .progressBar {
          background-color: yellowgreen;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 32px;
          height: 100%;
        }

        .progressScore {
          // font-weight: bold;
          color: white;
          position: relative;
          text-shadow: 1px 1px black;
          z-index: 2;
        }
      }

      p {
        margin: 0;
        font-weight: 400;
        .deadLine {
          font-weight: bold;
        }
      }
    }

    .coins_wrapper {
      background: #0196b329;
      border-radius: 10px;
      border: 1px solid #0196b370;
      padding: 10px 30px 10px 10px;
      position: relative;
      top: 10px;

      :global(.number-coins) {
        background: #00000033;
        border-radius: 16px 2px 10px 2px;
        padding: 0 5px 0 14px;
        position: absolute;
        right: 0px;
        bottom: 0px;

        &:before {
          content: "x";
          position: relative;
          left: -5px;
        }
      }
    }
  }
}
