button.btn {
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    padding: 10px 20px;
    text-transform: initial;
    &:hover {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &.border-button {
        border-bottom: 1px solid #8c8c8c;
        color: #8c8c8c;
        border-radius: 0;
        box-shadow: none;
    }
    &.normal {
        background: #a9a9a9;
        border: 1px solid #8c8c8c;
    }
    &.yellow {
        background: #ff9b51;
    }
    &.blue {
        background: #04a4c4;
        border: 1px solid #008ba7;
    }
    &.red {
        background: #f05f70;
        border: 1px solid #e63348;
    }
    &.green {
        background: #53c060;
    }
    &.disabled {
        background: #8a8a8a;
    }
    &.remove {
        display: none;
    }
    .text {
        display: flex;
        align-items: center;
        svg {
            margin-left: 5px;
            transition: .2s ease-in;
        }
    }
    &.animation:hover {
        .text svg {
            transform: translateX(5px);
        }
    }
}