button.btn {
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 12px;
    margin: 5px;
    padding: 10px 20px;
    text-shadow: 1px 1px #5a5a5a;
    text-transform: initial;
    &:hover {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    &.normal {
        background: #a9a9a9;
    }
    &.yellow {
        background: #ff9b51;
    }
    &.blue {
        background: #0095b3;
        // background: linear-gradient(180deg, #0095b3 0%, #476e96 100%);
    }
    &.red {
        background: #f05f70;
    }
    &.link {
        color: #476e96;
        font-weight: normal;
        text-decoration: underline;
        text-shadow: initial;
        &:hover{
            box-shadow: initial;
        }
    }
    &.green {
        background: #53c060;
    }
    &.disabled {
        background: #8a8a8a;
    }
    &.remove {
        display: none;
    }
    .text {
        align-items: center;
        display: flex;
        justify-content: center;
        svg {
            margin-left: 5px;
            transition: 0.2s ease-in;
        }
    }
    &.animation:hover {
        .text svg {
            transform: translateX(5px);
        }
    }
}
