._GraciasCompra{
    .background {
        background: -webkit-linear-gradient(top, #7250fe42 0%, #42b1f94d 100%);
        content: "";
        width: 100%;
        position: absolute;
        z-index: 2;
        height: 100vh;
        top: 0;
    }
    .imageMove {
        background-image: url(/images/backgrounds/tumblr_ow5oxcYxz91scotfso1_1280.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        animation: moverFondo 30s ease infinite alternate;
    }
    .content {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 20px;
        top: 100px;
        text-align: center;
        box-sizing: border-box;
        padding: 0 20px;
        max-width: 480px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}