.ChangeCity {
    p {
        cursor: pointer;
        display: flex;
        font-size: 12px;
        margin-top: 8px;
        padding: 0px;
        svg {
            margin: 0 5px;
        }
    }
    :global(.MuiFormControl-root) {
        width: 200px;
    }
}
