.ChangeCity {
    center {
        cursor: pointer;
        display: flex;
        font-size: 12px;
        margin-left: 0px !important;
        margin-top: 5px;
        padding: 0px;
        svg{
            margin-right: 5px;
        }
    }
}
