.Review {
  margin-top: 20px;
  margin-left: 20px;
  h2 {
    border-left: 4px solid #0196b3;
    padding-left: 10px;
  }
  article {
    margin-bottom: 20px;
    position: relative;
  }
  :global(.content_image) {
    left: -20px;
    position: absolute;
    top: 60px;
  }
  .comment {
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #0097b3;
    font-size: 14px;
    padding: 10px 20px 10px 40px;
  }
  h3 {
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    position: relative;
  }
  img{
    margin-top: 10px;
  }
}
