$desktop: "1024px";
$tablet: "768px";
$mobile: "480px";
$primary-color: #ea4d42;
$secundary-color: #476e96;

#body {
}

%floatButtons {
  @media screen and (min-width: $desktop) {
  }
  @media screen and (max-width: $mobile) {
    background: white;
    bottom: 60px;
    left: 0;
    min-height: 60px;
    padding: 10px 0 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
    > button {
      width: 80%;
      display: block;
      font-size: 16px;
      height: 38px;
      margin: 10px auto 0;
    }
  }
}
