.Categorias {
  background-color: white;
  width: calc(100vw - 8px);
  z-index: 2;
  @media screen and (max-width: 420px) {
    top: -215px;
    position: absolute;
    width: initial;
  }
  &.active {
    @media screen and (max-width: 420px) {
      top: 60px;
    }
  }

  > ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 12px 0 8px;
    width: 1366px;
    @media screen and (max-width: 420px) {
      flex-wrap: wrap;
    }
    li {
      cursor: pointer;
      list-style: none;
      padding: 0px 20px;
      position: relative;
      text-align: center;
      &:hover {
        a {
        }
      }
      &:nth-of-type(2) {
        width: 160px;
      }
      &:nth-of-type(6) {
        width: 100px;
      }
      > a {
        align-items: center;
        color: #585858;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        height: 100%;
        justify-content: center;
      }
      img {
        max-width: 50px;
        max-height: 28px;
        margin: 0 10px 0 0;
      }
      &.crear-publicacion {
        padding-right: 0;
        a {
          border: 1px solid rgb(0, 149, 179);
          border-radius: 5px;
          color: rgb(0, 149, 179);
          height: 34px;
          justify-content: center;
          width: 120px;
        }
      }
    }
  }
}
