    #LogoBuscador {
        background: white;
        padding: 20px 0 10px;
        border-bottom: 1px solid #dcdcdcb5;
        text-align: right;
        @media screen and (max-width: 420px) {
            padding: 10px 0 5px;
            position: fixed;
            top: 0;
            z-index: 3;
            width: 100%;
        }
        .slogan {
            span {
                display: block;
                font-size: 12px;
                @media screen and (max-width: 420px) {
                    font-size: 10px;
                }
            }
        }
        ul {
            margin: 0;
            @media screen and (max-width: 420px) {
                text-align: center;
                padding: 0 10px;
                display: flex;
            }
            @media screen and (min-width: 1024px) {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }
        .logo {
            cursor: pointer;
            max-width: 100%;
            @media screen and (min-width: 1024px) {
                &.desktop {
                    display: block;
                }
            }
            @media screen and (max-width: 420px) {
                width: 160px;
                &.mobile {
                    display: block;
                }
            }
            &.juancho {
                height: 60px;
                width: auto;
                @media screen and (min-width: 1024px) {
                    display: block;
                }
            }
        }
        .icon {
            width: 20px;
        }
        .icon-search-mobile {
            position: absolute;
            right: 30px;
            top: 30px;
            display: none;
            @media screen and (max-width: 420px) {
                display: block;
            }
            svg {
                transform: scale(1.5);
                color: #bec4ca;
            }
        }
        .content_buscador {
            position: relative;
            @media screen and (max-width: 420px) {
                width: calc(100% - 20px);
                top: 80px;
                position: fixed;
                padding: 10px 10px 10px;
                margin: 0;
                left: 0;
                height: 60px;
                box-shadow: 2px 2px 5px 0 #ababab52;
                background: white;
            }
            .input-buscador {
                fieldset {
                    border: 1px solid #a9a9a9;
                    /*box-shadow: hsl(0, 0%, 80%) 0 5px 16px;*/
                }
            }
            .buscador {
                background: white;
                @media screen and (min-width: 1024px) {
                    width: 600px;
                }
            }
        }
        .box_icon {
            float: right;
            top: 19px;
            position: absolute;
            right: 3px;
            height: 50px;
            line-height: 56px;
            border-radius: 4px;
            background: #ea4d42;
            padding: 0 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }