.MenuMovil {
    align-items: center;
    background-color: white;
    border-radius: 30px;
    bottom: 10px;
    box-shadow: 2px 2px 4px #0000002b;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    padding: 0 10px;
    position: fixed;
    right: 0;
    width: 90%;
    z-index: 2;
    :global(.PreviewUser) {
        border-radius: 10px 0 10px 0;
        bottom: 70px;
        left: initial;
        margin: initial;
        position: fixed;
        right: 0px;
        top: initial;
        z-index: 2;
        > ol {
            padding: 10px 0;
            &:nth-of-type(1) {
                margin-top: initial;
            }
        }
        :global(.UserNotifications) {
            bottom: 0;
            left: initial;
            right: 130px;
            top: initial;
            width: 200px;
            > ol {
                padding: 10px 5px;
                &:nth-of-type(1) {
                    margin: 10px 0 0 0;
                }
            }
        }
    }
    ol {
        align-items: center;
        display: flex;
        flex: 1 1;
        justify-content: center;
        margin: 0px;
        padding: 0;
        svg {
            height: 30px;
            width: 30px;
        }
        :global(.content_image) {
            height: 40px;
            width: 40px;
        }
        button {
            background: none;
            border: none;
            span {
            }
        }
        img {
            height: 30px;
        }
        label {
            font-size: 12px;
        }
    }
}
