.MenuMovil {
    align-items: center;
    background-color: white;
    border-radius: 30px;
    bottom: 10px;
    box-shadow: 2px 2px 4px #0000002b;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    padding: 0 10px;
    position: fixed;
    right: 0;
    width: 90%;
    z-index: 3;
    ol {
        align-items: center;
        display: flex;
        flex: 1 1;
        justify-content: center;
        margin: 0px;
        padding: 0;
        a {
            color: #575656;
        }
        svg {
            height: 30px;
            width: 30px;
        }
        :global(.content_image) {
            height: 40px;
            width: 40px;
        }
        button {
            background: none;
            border: none;
            span {
            }
        }
        img {
            height: 30px;
        }
        label {
            font-size: 12px;
        }
    }
}
