.Referrals {
    color: white;
    display: flex;
    justify-content: space-around;
    :global(.Card) {
        background: #00000057;
        margin: 0;
    }
    h2 {
        color: white;
    }
    form {
        display: flex;
        flex-direction: column;
    }
}
