.modal_lead {
    [role="dialog"] {
        height: 400px;
        overflow: hidden;
        width: 570px;
    }
}
.flex {
    overflow: hidden;
    :global(.Card) {
        width: 400px;
        @media screen and (max-width: 420px) {
            margin: 0;
            width: auto;
        }
    }
    .form {
        background: #ffffffae;
        border-radius: 5px;
        margin-top: 50px;
        padding: 0 20px 20px;
        position: relative;
        width: 240px;
        z-index: 1;
    }
    h2 {
        color: white;
        font-size: 18px;
        position: absolute;
        top: 0px;
        z-index: 1;
        span{
            font-size: 28px;
            position: relative;
            top: 10px;
        }
    }
    small {
        display: block;
        font-weight: 500;
    }
    button {
        @media screen and (max-width: 420px) {
            margin-top: 20px;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        ol {
            display: inline-block;
            border: 1px dashed #1f4469;
            border-radius: 10px;
            margin: 5px;
            padding: 2px 10px;
            &.active {
                background: #20456a;
                color: white;
            }
        }
    }
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 720px;
    }
    video::-webkit-media-controls-panel {
        display: none !important;
        opacity: 1 !important;
    }
}

.actions {
    margin: 10px 0 0 32px;
    position: relative;
}

.interets {
    .content {
        column-gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 20px;
        row-gap: 10px;
        @media screen and (max-width: 420px) {
            margin: 20px 0 0;
        }
    }
    small {
        font-weight: 500;
    }
}
