.flex {
    :global(.Card) {
        width: 400px;
        @media screen and (max-width: 420px) {
            margin: 0;
            width: auto;
        }
    }
    h2 {
        font-weight: normal;
        small {
            display: block;
            font-weight: 600;
        }
    }
    button {
        @media screen and (max-width: 420px) {
            margin-top: 20px;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        ol {
            display: inline-block;
            border: 1px dashed #1f4469;
            border-radius: 10px;
            margin: 5px;
            padding: 2px 10px;
            &.active {
                background: #20456a;
                color: white;
            }
        }
    }
}
