.view_TopNavBar{
    height: 120px;
    margin: 20px auto 0;
    letter-spacing: 1px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 10px 10px;
    width: 100%;
    background: white;
    border-radius: 10px;
    margin: -20px auto 0;
    box-sizing: border-box;
    &::-webkit-scrollbar{
        transition: .5s ease;
    }
    &:not(:hover){
        &::-webkit-scrollbar{
            height: 0px;
            width: 0px;
        }
    }
    @media screen and (max-width: 420px) {
        margin: 60px auto 0;
    }
    h3{
        color: #4d9afa;
        font-weight: 100;
        float: left;
        margin: 50px -30px 0 -40px;
        font-size: 15px;
        transform: rotate(-90deg);
        svg{
            margin-right: 10px;
        }
    }
    .content{
        width: 2130px;
        margin-top: 10px;
    }
    a{
        display: inline-block;
        margin-right: 10px;
        position: relative;
        height: 100px;
        width: 200px;
        vertical-align: top;
        img{
            object-fit: cover;
            width: 200px;
            object-position: center;
        }
        span{
            padding: 10px;
            left: 0;
            top: 0;
            position: absolute;
            background: #4d9afa52;
            height: 100%;
            width: 100%;
            color: white;
            box-sizing: border-box;
        }
        .tipo{
            margin: 0px 0px 0 10px;
            border-radius: 50%;
            background: white;
            padding: 2px;
            box-shadow: 2px 1px 2px 0 #1e1e1e4f;
            height: 20px;
            width: 20px;
            box-sizing: border-box;
            color: #696969;
            display: inline-block;
            text-align: center;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
.elementoPrueba{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #4d9afa;
    border-radius: 50%;
    animation: widgetPulse alternate infinite 1.5s;
}

@keyframes widgetPulse{
    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        // -webkit-transform: scale(2, 2);
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}