.Groot {
    background: linear-gradient(90deg, rgba(244, 119, 133, 1) 0%, rgba(98, 0, 15, 1) 100%);
    background: #456d9630;
    border-radius: 10px;
    height: 65px;
    margin: 0 0 50px;
    position: relative;
    width: 1366px;
    &::after {
        background: #c9c9c9;
        box-shadow: 4px 0px 4px #c0c0c4;
        // content: '';
        height: calc(100% + 200px);
        position: absolute;
        right: 0;
        top: -100px;
        width: 1px;
    }
    img {
        display: none;
        left: 0px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 160px;
    }
    p {
        color: #575656;
        display: block;
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        margin: 14px auto 0;
        text-align: center;
        width: 480px;
        span {
            font-size: 32px;
            font-weight: bold;
            &.switch {
                color: #c83a4f;
            }
            &.playstation {
                color: #001e66;
            }
            &.xbox {
                color: #117710;
            }
        }
    }
}
