@import "../../styles/variables.scss";

$border-color: #898989;

.LoadingComponenty {
    align-items: center;
    background-image: url(/images/backgrounds/loading.png);
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    &.out {
        animation: fadeOut 0.2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        span:nth-of-type(1) {
            opacity: 0;
        }
        span:nth-of-type(2) {
            margin-left: 1000px;
            opacity: 0;
        }
    }
    img {
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;
        box-shadow: 4px 4px 0px 2px #ababab;
        width: 400px;
        @media screen and (max-width: $mobile) {
            border: 0;
            width: 90%;
        }
    }
    p {
        color: #c93530;
        font-size: 34px;
        font-weight: 600;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 1px 1px #781f1d;
        top: 200px;
        @media screen and (max-width: $mobile) {
            top: 40px;
        }
        span:nth-of-type(2) {
            color: #1b95b3;
            text-shadow: 1px 1px #0c596b;
        }
        span {
            animation-fill-mode: forwards;
            margin: 0;
            opacity: 1;
            transition: 1s ease;
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        margin-top: 100vh;
        @media screen and (max-width: $mobile) {
            margin-top: initial;
            opacity: 0;
        }
    }
}
