.ProfileSummaryExperience {
    .full_name {
        background: linear-gradient(45deg, #f4c376, #ba7821);
        border-radius: 10px 10px 0 0;
        border: 2px solid #c1812e;
        border-bottom: 0;
        bottom: 0px;
        box-shadow: inset 4px 4px 2px #5252524f;
        color: white;
        font-weight: bold;
        height: 18px;
        left: 20px;
        padding: 10px;
        position: relative;
        width: 200px;
        :global(.Insignia) {
            position: absolute;
            right: 0;
            top: -12px;
        }
    }
    .box {
        position: relative;
        padding: 20px 20px 0 20px;
        border-radius: 20px;
        // background: linear-gradient(45deg, #3095b3, #126781);
        background: linear-gradient(45deg, #3095b359, #126781b5);
        box-shadow: inset 5px 5px 4px #505050;
        color: white;
        display: flex;
        margin-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 20px;
            padding: 4px; /* control the border thickness */
            background: linear-gradient(45deg, #f4c376, #ba7821);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }

        picture.profile_image {
            align-items: center;
            background: linear-gradient(180deg, #f4c376, #ba7821);
            border-radius: 50%;
            box-shadow: inset 3px 2px 4px #454545;
            display: flex;
            justify-content: center;
            height: 120px;
            margin: 0 auto;
            width: 120px;
            img {
                border-radius: 50%;
                height: calc(94%);
                left: 1px;
                position: relative;
                width: calc(94%);
            }
        }

        .right {
            width: 380px;
        }

        .experience_status {
            margin: 20px 0 40px 20px;
        }

        .fields {
            column-gap: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .label {
            background: #11495d;
            border-radius: 4px;
            margin: 10px 10px 20px 10px;
            padding: 2px 6px;
            position: relative;
            display: inline-block;
            .name {
                font-size: 12px;
                position: absolute;
                top: -20px;
            }
        }

        .left {
            position: relative;
            :global(.Coins) {
                position: absolute;
                right: 0;
                top: 90px;
            }
        }
    }

    .tricks {
        background: #0000004d;
        border-radius: 4px;
        box-shadow: 5px 5px #5c5c5c;
        color: white;
        font-size: 14px;
        padding: 10px;
    }
}

.ExperienceBar {
    border-radius: 5px;
    box-shadow: inset 4px 5px 8px #29292961;
    height: 10px;
    width: 100%;
    .bar {
        border-radius: 5px;
        box-shadow: inset 4px 5px 8px #29292900;
        height: 10px;
        // overflow: hidden;
        width: 100%;
        .indicator {
            background: linear-gradient(45deg, #f4c376, #ba7821);
            border-radius: 3px;
            box-shadow: inset 1px 1px 4px #4a4a4a;
            height: 100%;
            position: relative;
            transition: 1s ease-in-out;
            transition-duration: 3s;
            width: 30%;
            label {
                background: #b0302bd4;
                border-radius: 10px 0 10px 0;
                bottom: 14px;
                font-size: 12px;
                font-weight: bold;
                padding: 2px 4px;
                position: absolute;
                right: -20px;
            }
        }
    }
}
