#TwoBlocksWelcome {}

.videoContent {
    cursor: pointer;
    @media screen and (max-width: 420px) {
        display: none;
    }
}

#SpecialBanner {
    display: flex;
    height: 450px;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 50px 0 20px;
    @media screen and (max-width: 420px) {
        flex-direction: column;
        height: auto;
        display: none;
    }
    >* {
        margin: 0 10px;
    }
    .box:nth-of-type(1) {
        background: #00a4c6;
    }
    .box:nth-of-type(2) {
        background: #ea4d42;
    }
    .box:nth-of-type(3) {
        background: #e5961d;
    }
    .box {
        display: inline-block;
        height: 200px;
        padding: 10px 0 0;
        color: white;
        font-size: 16px;
        border-radius: 7px;
        .title {
            margin: 0 0 10px;
            text-align: center;
        }
    }
    .image-center-special {
        width: 700px;
    }
}

.view_Rodadas {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    margin-top: 20px;
    @media screen and (min-width: 1024px) {
        padding-top: 0px;
        width: 1680px;
    }
    @media screen and (max-width: 1680px) {
        width: auto;
    }
    @media screen and (max-width: 420px) {
        margin: 80px 0 0;
        padding: 0;
    }
    .main {
        >img {
            margin: 0 auto;
            display: block;
        }
    }
}

@keyframes effect_dylan {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}