.CoinsByBuy {
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 1px 1px #e7e7e7;
    margin: 20px 30px 0px auto;
    padding: 10px;
    @media screen and (max-width: 420px) {
        margin: 20px auto 0;
    }
    .flex {
        display: flex;
        span:nth-of-type(1) {
            width: 50%;
        }
    }
    .secure_purshase {
        align-items: center;
        color: #75bfa8;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        margin: 5px 0;
        width: 135px;
    }
}
