#TwoBlocksWelcome {
}

.videoContent {
  cursor: pointer;
  @media screen and (max-width: 420px) {
    display: none;
  }
}

.membresiaSellerBanner {
  border-radius: 10px;
  margin: 8px 0px 0;
}

.videoPortada {
  border-radius: 10px;
  display: block;
  height: max-content;
  margin: 15px 0 0;
  overflow: hidden;
  video {
    display: none;
    width: 100%;
    @media screen and (max-width: 420px) {
      display: block;
    }
  }
}

#SpecialBanner {
  display: flex;
  height: 450px;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 50px 0 20px;
  @media screen and (max-width: 420px) {
    flex-direction: column;
    height: auto;
    display: none;
  }
  > * {
    margin: 0 10px;
  }
  .box:nth-of-type(1) {
    background: #456d96;
  }
  .box:nth-of-type(2) {
    background: #ea4d42;
  }
  .box {
    border-radius: 7px;
    color: white;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    padding: 10px 0 0;
    .title {
      font-weight: 600;
      margin: 0 0 10px;
      text-align: center;
    }
  }
  .image-center-special {
    width: 700px;
  }
}

.PortadaInterfaceComponent {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
  @media screen and (min-width: 1024px) {
    padding-top: 0px;
    width: 1680px;
  }
  @media screen and (max-width: 1680px) {
    width: auto;
  }
  @media screen and (max-width: 420px) {
    margin: 30px auto 0;
    padding: 0;
  }
  .main {
    .ads {
      position: relative;
      z-index: 1;
      @media screen and (max-width: 420px) {
        margin: 0 0px 20px;
      }
      video {
        border-radius: 10px;
        height: 450px;
        @media screen and (max-width: 420px) {
          height: initial;
          margin: 0 auto;
        }
      }
      > h3 {
        background: #ffffffd6;
        border-radius: 10px;
        box-shadow: -2px -2px 2px #919191;
        left: 0;
        margin: 0 auto;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        top: -20px;
        width: 200px;
        p {
          color: #c93530;
          display: block;
          margin-top: 0;
          margin-bottom: 8px;
          text-align: center;
          span {
            color: #3095b3;
          }
        }

        // span {
        //   color: black;
        //   display: block;
        //   font-size: 12px;
        // }
      }
    }
    > img {
      margin: 0 auto;
      display: block;
    }
  }
}

.playstation-banner {
  background: #1b68cc;
}

.switch-banner {
  background: #c50019;
}

@keyframes effect_dylan {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
