@import "../../styles/variables.scss";

._modalIngresoInfo {
  bottom: 200px;
  left: 0;
  margin: 0 auto;
  max-width: 480px;
  position: fixed;
  right: 0;
  top: calc((100vh / 2) - 300px);
  width: 90%;
  z-index: 99;
  @media screen and (max-width: 480px) {
    height: calc(100vh - 40%);
    top: 80px;
  }
  &::before {
  }
  .content {
    height: 98%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 18px;
  }
  .sale_price {
    // display: block;
    // margin-bottom: 20px;
  }
  .background {
    background: #00000052;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
  }
  .Card {
    padding: 10px 4px 20px 20px;
    position: relative;
    width: 480px;
    z-index: 9;
    @media screen and (max-width: 480px) {
      height: inherit;
      width: auto;
    }
    .actions {
      @extend %floatButtons;
      align-items: center;
      display: flex;
      justify-content: right;
      margin-top: 20px;
      @media screen and (max-width: 480px) {
        bottom: -1px;
        display: flex;
        margin: initial;
      }
    }
    section.info_cliente {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      margin: 50px 0 0;
      width: initial;
      > * {
        margin: initial;
        width: 45%;
      }
    }
  }
  .contentCiudad {
    margin: 10px 0;
  }
  .bottom {
    :global(.flex) {
      align-items: flex-end;
      justify-content: right;
    }
    .paymentImageStep {
      margin-top: 40px;
      position: relative;
      img {
        border: 6px solid #c93530;
        border-radius: 10px;
        height: initial;
        width: 100%;
      }
      &::before {
        background-color: #c93530;
        border-radius: 10px 10px 0 0;
        color: white;
        content: "1. Medios de pago";
        font-weight: bold;
        left: 10px;
        padding: 10px;
        position: absolute;
        top: -34px;
      }
    }

    .talkToSellerStep {
      margin-top: 50px;
      position: relative;
      &::before {
        background-color: #3095b3;
        border-radius: 10px 10px 0 0;
        color: white;
        content: "2. Contacta a tu vendedor";
        font-weight: bold;
        left: 10px;
        padding: 10px;
        position: absolute;
        top: -34px;
      }
      > div {
        border: 6px solid #3095b3;
        border-radius: 10px;
      }
    }

    .payment_info {
      // border-bottom: dashed 1px #949494;
      // float: right;
      // font-weight: bold;
      padding-bottom: 8px;
      width: 100%;
      > * {
        > * {
          margin-left: 10px;
        }
      }
      tr td:nth-of-type(2) {
        width: 90px;
      }
      .discount {
        color: #519f55;
      }
    }
  }
}
