.HolaJuanito {
    position: relative;
    margin: 0px auto 50px;
    width: 1300px;
    @media screen and (max-width: 420px) {
        margin: 10px auto 20px;
        width: auto;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        vertical-align: top;
        column-gap: 60px;
        > * {
            background: white;
            border-radius: 10px;
            box-shadow: 2px 2px 5px 0 #ababab52;
            box-sizing: border-box;
            color: #585858;
            margin: 0;
            padding: 10px 20px;
            position: relative;
            z-index: 1;
            @media screen and (max-width: 420px) {
                margin: 0px 20px 20px;
            }
            ol {
                padding: 0;
            }
        }
        .contigo-somos{
            font-size: 14px;
            margin: -10px 0 20px;
            text-align: right;
            span{
                display: inline-block;
                text-align: center;
                width: 25px;
            }
        }
        .texts {
            width: 500px;
            z-index: 2;
            @media screen and (max-width: 420px) {
                width: calc(100% - 20px);
            }
            .text1 {
                color: #575656;
                font-size: 36px;
                margin-bottom: 10px;
            }
            .text2 {
                color: #575656;
                display: inline-block;
                line-height: 22px;
            }
        }
    }
    .ads {
        overflow: hidden;
        padding-top: 0;
        width: 50%;
        @media screen and (max-width: 420px) {
            margin: 10px;
            padding: 0;
            width: 100%;
        }
        ul {
            display: flex;
            margin-top: 0px;
            padding: 0;
            transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            @media screen and (max-width: 420px) {
                padding: 0;
                width: 1200px;
            }
            ol {
                opacity: 1;
                transition: 0.5s ease;
                @media screen and (max-width: 420px) {
                    margin-right: 0;
                    width: calc(100vw - 40px);
                }
                img {
                    max-height: 350px;
                    @media screen and (max-width: 420px) {
                        display: block;
                        margin: 0 auto;
                        max-height: 270px;
                    }
                }
                iframe {
                    left: -20px;
                    position: relative;
                    width: calc(100% + 40px);
                    @media screen and (max-width: 420px) {
                        left: initial;
                        width: calc(100% + 20px);
                    }
                }
                .description {
                    // border-radius: 0 0 10px 10px;
                    font-size: 14px;
                    // font-weight: 500;
                    margin: 15px 15px;
                    // padding: 10px;
                    @media screen and (max-width: 420px) {
                        width: auto;
                    }
                }
            }
        }
    }
    img {
        max-width: 500px;
        @media screen and (max-width: 420px) {
            max-width: 100%;
        }
    }
    .reclamar_monedas {
        background: linear-gradient(180deg, #ff7524 0%, #f71b1b 100%);
        border-radius: 10px;
        border: none;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: "Righteous", sans-serif;
        font-size: 16px;
        margin-top: 20px;
        padding: 10px 15px;
        text-shadow: 1px 1px black;
        &.disabled {
            background: linear-gradient(180deg, #b3b3b3 0%, #6b6b6b 100%);
        }
    }
}
