.HolaJuanito {
    position: relative;
    margin: 0px auto 50px;
    width: 1300px;
    @media screen and (max-width: 420px) {
        margin: 10px auto 20px;
        width: auto;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        vertical-align: top;
        column-gap: 60px;
        > * {
            background: white;
            border-radius: 10px;
            box-shadow: 2px 2px 5px 0 #ababab52;
            box-sizing: border-box;
            color: #585858;
            margin: 0;
            padding: 10px 20px;
            position: relative;
            z-index: 1;
            @media screen and (max-width: 420px) {
                margin: 0px 20px 20px;
            }
            ol {
                padding: 0;
            }
        }
        .contigo-somos {
            font-size: 14px;
            margin: -10px 0 20px;
            text-align: right;
            span {
                display: inline-block;
                text-align: center;
                width: 25px;
            }
        }
        .texts {
            width: 500px;
            z-index: 2;
            @media screen and (max-width: 420px) {
                width: calc(100% - 20px);
            }
            .text1 {
                color: #575656;
                font-size: 36px;
                margin-bottom: 10px;
            }
            .text2 {
                color: #575656;
                display: inline-block;
                line-height: 22px;
            }
        }
    }
    .ads {
        overflow: hidden;
        padding-top: 0;
        width: 50%;
        @media screen and (max-width: 420px) {
            margin: 10px;
            padding: 0;
            width: 100%;
        }
        ul {
            display: flex;
            margin-top: 0px;
            padding: 0;
            transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            @media screen and (max-width: 420px) {
                padding: 0;
                width: 1200px;
            }
            ol {
                opacity: 1;
                transition: 0.5s ease;
                @media screen and (max-width: 420px) {
                    margin-right: 0;
                    width: calc(100vw - 40px);
                }
                img {
                    max-height: 350px;
                    @media screen and (max-width: 420px) {
                        display: block;
                        margin: 0 auto;
                        max-height: 270px;
                    }
                }
                iframe {
                    left: -20px;
                    position: relative;
                    width: calc(100% + 40px);
                    @media screen and (max-width: 420px) {
                        left: initial;
                        width: calc(100% + 20px);
                    }
                }
                .description {
                    // border-radius: 0 0 10px 10px;
                    font-size: 14px;
                    // font-weight: 500;
                    margin: 15px 15px;
                    // padding: 10px;
                    @media screen and (max-width: 420px) {
                        width: auto;
                    }
                }
            }
        }
    }
    img {
        max-width: 500px;
        @media screen and (max-width: 420px) {
            max-width: 100%;
        }
    }
    .reclamar_monedas {
        align-items: center;
        background-image: linear-gradient(white, white),
            linear-gradient(270deg, rgb(27, 149, 179), rgb(185, 93, 215) 50%, rgb(201, 53, 48) 100%);
        background-origin: padding-box, border-box;
        background-repeat: no-repeat;
        border: 2px solid transparent;
        box-shadow: 2px 2px 0px #6767676e;
        color: #0c596b;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        justify-content: center;
        margin: 10px auto 0;
        padding: 10px 15px;
        text-align: center;
        text-transform: uppercase;
        transform: none;
    }
    .animated {
        animation: highlight 1s infinite alternate;
        background-image: linear-gradient(white, white),
            linear-gradient(180deg, cornflowerblue, purple 50%, cornflowerblue);
        background-origin: padding-box, border-box;
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%, 100% 200%;
    }

    @keyframes highlight {
        100% {
            background-position: 0 0, 0 0;
        }
    }
}
