@import "/styles/variables.scss";

.UserNotifications {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -2px 2px 2px #52525233;
    color: #585858;
    flex-direction: column;
    font-size: 14px;
    height: 250px;
    justify-content: flex-start;
    overflow-y: scroll;
    margin: 0 -20px;
    padding: 0;
    transition: 0.5s ease;
    width: 250px;
    z-index: 0;
    h4 {
        text-align: center;
        svg {
            color: #fdb723;
        }
    }
    ol {
        align-items: center;
        border-bottom: 1px solid #42495029;
        display: flex;
        height: min-content;
        margin: 0;
        max-height: 50px;
        overflow: hidden;
        padding: 10px 20px;
        text-align: center;
        transition: 0.5s ease;
        &:nth-child(even) {
            background: #476e961a;
        }
        &.closed {
            opacity: 0.5;
        }
        // &.open {
        //     max-height: initial;
        // }
        > * {
            flex: 1;
        }
        &:nth-of-type(1) {
            // margin-top: 30px;
        }
        i {
            display: block;
            font-weight: 600;
            margin-top: 10px;
        }
        .content_close {
            svg {
                color: $primary-color;
                margin-left: 8px;
            }
        }
        span {
            font-size: 12px;
            flex: 5;
        }
        button {
            height: 35px;
            padding: 0;
            :global(svg) {
                margin-left: 0 !important;
            }
        }
    }
}
