.subcategories {
    @media screen and (max-width: 420px) {
        display: none;
        background: #f4f4f4;
        margin: 0 0 10px;
        overflow: scroll;
        position: fixed;
        top: 78px;
        z-index: 5;
    }
    ul {
        background: #f9f9f9;
        box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        text-align: center;
        @media screen and (max-width: 420px) {
            width: max-content;
        }
        a {
            margin: 0 20px;
            @media screen and (max-width: 420px) {
                width: max-content;
            }
            h2 {
                font-weight: normal;
                font-size: 12px;
                @media screen and (max-width: 420px) {
                    margin: 5px;
                }
            }
        }
    }
}
