@import "../../styles/variables.scss";

.Dialog {
    [role="dialog"] {
        background-color: transparent;
        box-shadow: none;
        overflow-x: hidden;
        overflow-y: hidden;
        > div {
            padding: 0;
        }
    }
}
.AwardsSummary {
    // --main-color: rgba(0, 0, 0, 0.54);
    // overflow: hidden;
    height: 500px;
    overflow: hidden;
    width: 600px;
    @media screen and (max-width: 480px) {
        width: 290px;
    }
    &:after {
        background-image: url(/images/backgrounds/marco-bronce-inf.png);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -6px;
        content: "";
        display: block;
        height: 50px;
        position: absolute;
        width: 100%;
        z-index: 9999999999;
    }

    &::before {
        background: linear-gradient(45deg, #3acfd5, #3a8dd5);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        border-bottom: 4px solid #167ac6;
        content: "";
        height: 120px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        display: none;
    }

    .bg_city {
        background-color: #11687d;
        height: calc(100% - 50px);
        left: 24px;
        opacity: 1;
        position: absolute;
        top: 30px;
        width: calc(100% - 50px);
        z-index: 0;
        @media screen and (max-width: 480px) {
            left: 14px;
            top: 15px;
            width: 264px;
        }
        &::before {
            background-image: url(/images/backgrounds/campo-bg.jpeg);
            background-size: cover;
            content: "";
            height: 100%;
            width: 100%;
            display: block;
            opacity: 0.4;
            // display: none;
        }
    }

    .main_button {
        padding: 10px 0;
        width: 200px;
        button {
            font-size: 14px;
        }
    }

    .content {
        background-image: url(/images/backgrounds/marco-bronce-sup.png);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 390px;
        overflow: hidden;
        padding: 70px 0px 0;
        position: relative;
        // width: 100%;
        @media screen and (max-width: 480px) {
            padding: 50px 0px 0;
        }
        .content_child {
            // display: none;
            // border: 1px solid red;
            height: 350px;
            margin: 0 auto;
            overflow-y: scroll;
            overflow-x: hidden;
            // padding-top: 50px;
            position: relative;
            width: calc(100% - 50px);
            @media screen and (max-width: 480px) {
                height: 400px;
                overflow-y: hidden;
            }
            :global(.ProfileSummaryExperience) {
                display: block;
                margin: 40px auto 0;
                width: max-content;
            }
        }
        .title {
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-size: 26px;
            font-style: italic;
            font-weight: bold;
        }

        .subtitle {
            color: white;
            font-style: italic;
            text-shadow:
                2px 0 var(--main-color),
                -2px 0 var(--main-color),
                0 2px var(--main-color),
                0 -2px var(--main-color),
                1px 1px var(--main-color),
                -1px -1px var(--main-color),
                1px -1px var(--main-color),
                -1px 1px var(--main-color);
            text-align: center;
            font-size: 32px;
        }

        .gifts {
            display: flex;
            justify-content: space-evenly;
            margin: 40px auto 50px;

            .experienceGained {
                background: #ffffffab;
                border-radius: 10px;
                // border: 2px solid #00ab74;
                color: #00ab74;
                // margin-top: 10px;
                text-align: center;
                width: 120px;
            }

            .coinsGained {
                align-items: center;
                background: #ffffffab;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // :global(.Coins) {
                padding: 10px 0;
                width: 120px;
                // box-shadow: 0px 4px #9b9b9b;
                // margin: 0 auto;
                // }
                position: relative;
                .handlePickRewardUp {
                    cursor: pointer;
                    font-size: 14px;
                    margin-left: 10px;
                    text-decoration: underline;
                }
                .plusCoin {
                    color: #d9b200;
                    left: 42px;
                    position: absolute;
                    top: 15px;
                }

                :global(svg) {
                    font-size: 14px;
                }
            }
        }

        .box {
            border: double 4px transparent;
            margin: 0 auto;
            position: relative;
            width: 320px;
            // width: 330px;
            @media screen and (max-width: 480px) {
                box-sizing: border-box;
                padding: 0 20px;
                width: initial;
            }
            &::before {
                background: linear-gradient(45deg, #3acfd5, #3a8dd5);
                border-radius: 20px;
                content: "";
                display: none;
                inset: 0;
                mask-composite: exclude;
                padding: 4px; /* control the border thickness */
                pointer-events: none;
                position: absolute;
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
            }

            img {
                left: 0;
                margin: 0 auto;
                max-width: initial;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: -30px;
                width: 140px;
            }
            p {
                color: white;
                font-weight: bold;
                // margin-top: 110px;
                // padding: 0px 30px 20px;
                text-shadow:
                    2px 0 #2e2e2e,
                    -2px 0 #2e2e2e,
                    0 2px #2e2e2e,
                    0 -2px #2e2e2e,
                    1px 1px #2e2e2e,
                    -1px -1px #2e2e2e,
                    1px -1px #2e2e2e,
                    -1px 1px #2e2e2e;
                text-align: center;
                :global(.yellow) {
                    color: #fcfc85;
                }
                :global(.blue) {
                    color: aquamarine;
                }
                :global(.Coins) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .actions {
        // position: absolute;
        right: 10px;
        top: 300px;
        @media screen and (max-width: 480px) {
            // background: white;
            box-sizing: border-box;
            bottom: 0;
            left: 0;
            padding: 20px;
            // position: fixed;
            right: initial;
            text-align: center;
            top: initial;
            width: 100%;
            div > button {
                width: 80%;
            }
        }
    }
    .actions2 {
        box-sizing: border-box;
        float: right;
        margin-right: 20px;
        @media screen and (max-width: 480px) {
            background: white;
            bottom: 0;
            left: 0;
            padding: 20px;
            position: fixed;
            right: initial;
            text-align: center;
            top: initial;
            width: 100%;
            div > button {
                width: 80%;
            }
        }
    }
}
