._Destacado{
    width: 100%;
    position: relative;
    display: none;
    @media screen and (min-width: 1024px) {
        display: flex;
        width: 1200px;
        margin: 0 auto 50px;
        background: white;
        border-radius: 20px 20px 5px 20px;
        height: 310px;
        overflow: hidden;
    }
    > * {
        width: 100%;
    }
    img{
        /*height: 500px;
        object-fit: cover;
        object-position: 0 -50px;
        width: 500px;*/

        height: 500px;
        object-fit: contain;
        object-position: center center;
        width: 700px;
        &.amigos{
        }
    }
    .textos{
        margin-left: 100px;
        @media screen and (max-width: 420px) {
            box-sizing: border-box;
            padding: 20px;
            text-align: center;
            margin-left: 0;
            position: absolute;
            z-index: 1;
            bottom: 0;
            background: #0000005e;
        }
        p{
            max-width: 420px;
            @media screen and (max-width: 420px) {
                color: white;
            }
            h2{
                letter-spacing: 1px;
                font-size: 54px;
                color: #4d9afa;
                // text-shadow: 2px 2px 2px #787878;
                margin-bottom: 20px;
        
            }
            a{
                border: 2px solid #4d9afa;
                font-size: 22px;
                padding: 10px 10px 10px 20px;
                color: #4d9afa;
                box-shadow: 4px 4px 0px 0px #a2a2a3;
                display: inline-block;
                margin-top: 20px;
                cursor: pointer;
                padding-right: 60px;
                svg{
                    
                    position: absolute;
                    animation: toDerecha 1s infinite alternate;
                    margin-top: 2px;
                }
            }
        }
    }
}

@keyframes toDerecha{
    from{
        margin-left: 15px;
    }
    to{
        margin-left: 25px;
    }

}