section.ChallengesRanking {
    padding: 0 0px;
    :global([role="tabpanel"]) {
        padding-left: 120px;
        @media screen and (max-width: 420px) {
            padding-left: initial;
        }
        > div {
            @media screen and (max-width: 420px) {
                padding: 24px 0;
            }
        }
    }
    :global(.Mui-selected) {
        color: #3095b3;
    }
    :global(.MuiTabs-indicator) {
        background-color: transparent;
    }
    :global(.ChallengeSection) {
        margin: 0 auto;
        width: 80%;
    }
}
