.RankingComponent {
    .alert {
        margin: 0 auto;
        width: 80%;
    }
    .list {
        column-gap: 50px;
        overflow-x: scroll;
        padding: 14px 0 0 0px;
        .item {
            // background: #ecb96b6e;
            // border-bottom: 2px solid #c07f2cb8;
            box-shadow: 0px 4px 4px #c3832f52;
            padding: 20px 0 10px 0;
            position: relative;
            &.me {
            }
            &:not(.me) {
                transform: scale(0.5);
            }
            .number {
                border-radius: 50%;
                box-shadow: 0px 0px 4px 0px #000000e8;
                color: white;
                font-family: "Dirtyboy";
                font-size: 64px;
                height: 60px;
                left: 0px;
                line-height: 68px;
                position: absolute;
                text-align: center;
                top: -10px;
                width: 60px;
                z-index: 0;
                &.oro {
                    background: #c68836;
                }
                &.plata {
                    background: linear-gradient(45deg, #cecdd2, #9b9b9d);
                }
            }
            :global(.ProfileSummaryExperience) {
                margin-left: 30px;
            }
        }
    }
}
