.Coins {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
  &.animated {
    .coin {
      animation:
        rotate 0.5s steps(6) infinite,
        appear 1s steps(1);
    }
  }
  .coin {
    background-image: url("/images/sprites/coin-v1.png");
    // background-image: url("/images/gifs/monedas.png");
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 210px;
    display: inline-block;
    height: 31px;
    margin: 0;
    position: relative;
    transition: 0.5s linear;
    width: 31px;
  }
  .multicoin {
    margin-left: -10px;
  }
  .number {
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    margin: 0 0 0 5px;
    position: relative;
  }

  label {
    font-family: revert;
    font-weight: 500;
    margin-left: 5px;
    text-shadow: 2px 2px #cbcbcb;
  }
}

@keyframes rotate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -179px;
  }
}

@keyframes appear {
  0% {
    top: 0px;
  }
  20% {
    top: -10px;
  }
  40% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}
