name: Pipeline de Despliegue

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  avoid_reduncy:
    name: Borrando pipelines anteriores en ejecucción
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Redundant Builds
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

  lint:
    name: Verificación de lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Es para que descargue todo el repositorio
      - uses: actions/setup-node@v2
        with:
          cache: 'npm'
          node-version: 'v16.13.1'
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run eslint # Chequea si los archivos estan bien escritos
