.PreviewUser {
    background: #24292e;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #5252522e;
    color: white;
    font-size: 12px;
    height: 0;
    left: 0;
    margin: -20px auto 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 60px;
    transition: 0.5s ease;
    width: 130px;
    z-index: -2;
    @media screen and (min-width: 1024px) {
        left: -120px;
    }
    &.actived {
        height: 306px;
        overflow: initial;
    }
    ol {
        border-bottom: 1px solid #424950;
        margin: 10px 0;
        padding: 0 20px 10px;
        text-align: center;
        &:nth-of-type(1) {
            margin-top: 20px;
        }
        a {
            color: white !important;
            justify-content: center;
        }
        .flex {
            align-items: center;
            display: flex;
            height: 20px;
            justify-content: space-around;
            margin: 0 auto;
            width: 80px;
        }
        .text {
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

@keyframes like {
    100% {
        background-position-x: -8px;
    }
    0% {
        background-position-x: 292px;
    }
}